@model IEnumerable<ISAD251CafeApplication.Models.Orders>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script>
    $(document).ready(function () {
        getOrders();

        window.setInterval(function () {
            getOrders();
        }, 5000);   
    });

    function clearTable() {
        $("#ordersTable td").remove();
    }

    function markComplete(id) {
        
        $.post("api/Orders/OrderComplete", { id: id }, function () {
             clearTable();
             getOrders();
        });

    }

    function getOrders() {
        $.get("api/Orders/GetOpenOrders", function (data) {

            var tempOrders = orders;
            var orders = $.parseJSON(data);
            
            
            if (tempOrders != orders) {

                  if (orders.length > 0) {

                      $("#noOrdersFound").hide();
                      $("#ordersTable").show();

                      clearTable()

                      $(orders).each(function (i, order) {

                            var status = "";

                            if (order.Completed != null) {
                                status = "Completed";
                            } else if (order.Cancelled != null) {
                                status = "Cancelled";
                            } else {
                                status = "Active";
                            }

                            var orderContent = "";

                            $(order.OrderLines).each(function (index, orderLines) {

                                var tempString = "<li>" + orderLines.ItemName + "</li>"
                                orderContent += tempString;

                            });

                            $("#ordersTable").append("<tr>"
                                + "<td>" + order.OrderId + "</td>"
                                + "<td>" + order.TableNumber + "</td>"
                                + "<td>" + status + "</td>"
                                + "<td id='elapsed" + order.id + "'>" + order.Elapsed + " mins ago</td>"
                                + "<td><ul>" + orderContent + "</ul></td>"
                                + "<td><input type='button' class='btn btn-success' value='Mark Complete' onclick='markComplete(" + order.OrderId + ")' /></td>"
                                + "</tr >");

                          if (order.Elapsed > 10) {
                              $("#elapsed" + order.id).css('color', 'red');
                            }
                      });

                  } else {

                       $("#noOrdersFound").show();
                       $("#ordersTable").hide();
                  }
            } 
        });
    }
</script>
<div class="panel panel-default" style="opacity:0.95;">
    <div class="panel-heading">
        Live Orders
    </div>

    <div class="panel-body">

        <div id="noOrdersFound">
            <h1>No Live Orders Found</h1>
            <p>New orders will appear here when they're placed.</p>
        </div>


        <table id="ordersTable" class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TableNumber)
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Created)
                    </th>
                    <th>
                        Order Details
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tableContent">

            </tbody>
        </table>
    </div>
</div>

