@model ISAD251CafeApplication.Models.Items

@{
        ViewData["Title"] = "Create";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            Create Product
        </div>
        <div class="panel-body">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ItemCategory" class="control-label"></label>
                        <select asp-for="ItemCategory" class="form-control">
                            <option value="1">Sandwich</option>
                            <option value="2">Cake</option>
                            <option value="3">Drinks</option>
                        </select>
                        <span asp-validation-for="ItemCategory" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ItemName" class="control-label"></label>
                        <input asp-for="ItemName" class="form-control" />
                        <span asp-validation-for="ItemName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ItemDescription" class="control-label"></label>
                        <input asp-for="ItemDescription" class="form-control" />
                        <span asp-validation-for="ItemDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ItemPrice" class="control-label"></label>
                        <input asp-for="ItemPrice" class="form-control" />
                        <span asp-validation-for="ItemPrice" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ItemStock" class="control-label"></label>
                        <input asp-for="ItemStock" class="form-control" />
                        <span asp-validation-for="ItemStock" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-success" />
                        <a role="button" class="btn btn-danger"  asp-action="Index">Discard</a>
                    </div>
                </form>
            </div>
        </div>
        </div>
        
    </div>
    



