@model IEnumerable<ISAD251CafeApplication.Models.OrderLines>

@{
    ViewData["Title"] = "Index";
}

<script>
    $(document).ready(function () {
        $("#btnPlaceOrder").click(function () {
            if (document.getElementById("txtTableNumber").value == "") {
                alert("Please enter a valid table number. (Between 1 and 30)");
            } else if (document.getElementById("txtTableNumber").value < 1 || document.getElementById("txtTableNumber").value > 30) {
                alert("Please enter a valid table number. (Between 1 and 30)");
            } else {
                var url = "CompleteOrder/" + document.getElementById("txtTableNumber").value
                window.location.href = url;
            }
        });
    });
</script>


@{
    if (Model != null && Model.Count() > 0)
    {
        decimal total = 0;

                    <div class="row" style="margin-left:50px; ">
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Review Your Order
                                </div>
                                <div class="panel-body">
                                    @foreach (var item in Model)
                                    {

                                        <div class="row">
                                            <div class="col-sm-7">
                                                @item.Quantity x @item.ItemName
                                            </div>
                                            <div class="col-sm-2">
                                                &pound;@Math.Round((item.UnitPrice * item.Quantity), 2)
                                            </div>
                                            <div class="col-sm-3">
                                                @{
                                                    using (Html.BeginForm("RemoveItem", "Menu", FormMethod.Post))
                                                    {
                                                        <input type="hidden" name="itemId" class="btn btn-danger" value="@item.ItemId" />
                                                        <input type="submit" class="btn btn-danger" value="Remove" />
                                                    }
                                                }

                                            </div>
                                        </div>
                                        total += (item.UnitPrice * item.Quantity);
                                    }

                                    <br />
                                    @{
                                        decimal subtotal = (total / 120) * 100;
                                        decimal vat = total - subtotal;
                                    }
                                <div class="col-sm-12">
                                    Subtotal = &pound;@Math.Round(subtotal, 2) <br />
                                    VAT = &pound;@Math.Round(vat, 2) <br />
                                    <b>Total = &pound;@Math.Round(total, 2)</b>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-left:50px">
                        <div class="col-sm-4" >
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Table Number
                                </div>
                                <div class="panel-body">
                                    <div class="col-sm-3">
                                        <input type="number" id="txtTableNumber" class="form-control" min="1" max="30" pattern="/d+" value="" />
                                    </div>
                                    
                                    <input type="button" class="btn btn-primary" id="btnPlaceOrder" value="Place Order" />
                                </div>
                            </div>
                        </div>
                    </div>
    }
    else
    {
        <h1>Oops</h1>
        <p>Your shopping basket appears to be empty. We'll just redirect you back to the <a href="/menu">menu!</a></p>
        <script>
            setTimeout(function () {
                window.location.href = "Menu";
            }, 3000);
        </script>
    }
}




