@model IEnumerable<ISAD251CafeApplication.Models.Menu>

@{
    ViewData["Title"] = "Index";
}



<h2>ISAD Cafe Menu</h2>

<table class="table">
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                £@Html.DisplayFor(modelItem => item.ItemPrice)
            </td>
            <td>
                <a asp-action="AddBasket" asp-route-id="@item.ItemId">Add To Order</a> 
            </td>
        </tr>
        }
    </tbody>
</table>

<div style="text-align:right; padding-right:85px">
    <input id ="btnCheckout" type="button" class="btn-default" value="Complete Order" style="text-align: right;" onclick="window.location.href='/Checkout'" />
</div>